{% extends "base.html.twig" %}

{% block content %}

        <div class="breadcumb-area bg-img bg-overlay2" style="background-image: url({{ asset('assets/img/bg-img/bg-1.jpg') }});">

        </div>
        <!-- bg gradients -->
        <div class="bg-gradients"></div>
        <!-- ##### Breadcumb Area End ##### -->

        <!-- ##### Elements Area Start ##### -->
        <section class="elements-area mt-30 section-padding-100-0 ">
            {#        Contenu de la page#}
            <div class="container">
                <h1 style="text-align: center" class="text-primary">Sorry this page is not found</h1>
            </div>
        </section>
{% endblock %}